@{
    ViewData["Title"] = "ParkingTicket";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-container">

    <input type="text" class="form-control" id="Name" placeholder="Enter your Name" autofocus="" required="">
    
</div>