@{
    ViewData["Title"] = "PaymentMethod";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <partial name="~/Views/Shared/_gridHeaderPartial.cshtml" />

            <div class="card-body card-body-padding">
                <div id="paymentMethodgrid">
                </div>
            </div>
        </div>
    </div>

    @* <input type="search" class="ds-hint" readonly="" aria-hidden="true" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(31, 31, 31);">
    </input> *@

    <partial name="_insertOrUpdatePaymentMethodPartial.cshtml" />
    <partial name="~/Views/Shared/_copyConfirmPartial.cshtml" />
    <partial name="~/Views/Shared/_deleteConfirmPartial.cshtml" />
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/PaymentMethodController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new PaymentMethodController();
        ctrl.init();
    });
</script>