@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
        <div class="header-left">
            <button class="btn btn-primary mb-2 mb-md-0 me-2 d-none">Create new document</button>
            <button class="btn btn-outline-primary bg-white mb-2 mb-md-0 ">Import documents</button>
        </div>
        <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
            <div class="d-flex align-items-center">
                <a href="#">
                    <p class="m-0 pe-3">User Management</p>
                </a>
                <a class="ps-3 me-4" href="#">
                    <p class="m-0">ADE-00234</p>
                </a>
            </div>
            <button type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text">
                <i class="mdi mdi-plus-circle"></i> Add User
            </button>
        </div>
    </div>
    <div class="row">
        <div id="usersgrid">
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/UserController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new UserController();
        ctrl.init();
    });
</script>